<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs"> <strong class="font-bold">Usuário</strong> </span>
                        <span class="text-muted text-xs block">Administrador <b class="caret"></b> </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a (click)="logout()">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    G.S.
                </div>
            </li>
            <li routerLinkActive="active" *ngFor="let item of menu">
                <a *ngIf="item.children == null" [routerLink]="[item.link]">
                    <i [ngClass]="item.icon"></i>
                    <span class="nav-label">{{ item.label }}</span>
                    <span class="fa arrow" *ngIf="item.children != null"></span>
                </a>
                <a *ngIf="item.children != null">
                    <i [ngClass]="item.icon"></i>
                    <span class="nav-label">{{ item.label }}</span>
                    <span class="fa arrow" *ngIf="item.children != null"></span>
                </a>
                <ul class="nav nav-second-level" *ngIf="item.children != null">
                    <li routerLinkActive="active" *ngFor="let sub of item.children">
                        <a [routerLink]="[sub.link]">{{ sub.label }}</a>
                    </li>
                </ul>
            </li>
            <li routerLinkActive="active" *ngIf="isAdmin">
                <a [routerLink]="['/usuarios']"><i class="fa fa-user"></i><span class="nav-label">Usuários</span></a>
            </li>

        </ul>

    </div>
</nav>