<div class="middle-box text-center animated fadeInDown">
  <h1>404</h1>
  <h3 class="font-bold">A página e/ou informação não encontrada!</h3>

  <div class="error-desc">
    Não encontramos a página e/ou as informações requisitadas.
    <!-- <form class="form-inline m-t" role="form">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search for page">
      </div>
      <button type="submit" class="btn btn-primary">Busca</button>
    </form> -->
  </div>
</div>