<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <modules>
        <remove name="WebDAVModule" />
      </modules>
      <handlers>
        <remove name="aspNetCore" />
        <remove name="WebDAV" />

        <add name="aspNetCore"  
         path="*" 
         verb="*" 
         modules="AspNetCoreModule" 
         resourceType="Unspecified" />
       </handlers>
       <aspNetCore processPath="dotnet" arguments=".\GestaoSindicatos.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
     </system.webServer>
   </location>
   <connectionStrings>
    <remove name="LocalMySqlServer" />
    <remove name="LocalSqlServer" />
  </connectionStrings>
</configuration>
<!--ProjectGuid: 17908c53-9db3-4ea0-bdb9-e5f5bc87bbe1-->