<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <app-panel>
                    <form role="form" [formGroup]="form">
                        <h2>Sindicato</h2>
                        <p>
                            Cadastro/edição de sindicatos laborais
                        </p>
                        <div class="row">
                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                <app-custom-input formControlName="id" [control]="form.get('id')" id="id" label="Id"
                                    name="id" readOnly="true">
                                </app-custom-input>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group" [class.has-error]="hasError(form.get('cnpj'))">
                                    <label class="control-label">CNPJ</label>
                                    <input type="text" mask="00.000.000/0000-00" placeholder="CNPJ" class="form-control"
                                        formControlName="cnpj">
                                    <app-validator-message [control]="form.get('cnpj')" controlName="CNPJ"></app-validator-message>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <app-custom-input formControlName="nome" [control]="form.get('nome')" id="nome" label="Nome"
                                    name="nome">
                                </app-custom-input>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" [class.has-error]="hasError(form.get('telefone1'))">
                                    <label class="control-label">Telefone 1</label>
                                    <input type="text" mask="(00) 0000-00009" placeholder="Telefone 1" class="form-control"
                                        formControlName="telefone1">
                                    <app-validator-message [control]="form.get('telefone1')" controlName="Telefone 1"></app-validator-message>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group" [class.has-error]="hasError(form.get('telefone2'))">
                                    <label class="control-label">Telefone 2</label>
                                    <input type="text" mask="(00) 0000-00009" placeholder="Telefone 2" class="form-control"
                                        formControlName="telefone2">
                                    <app-validator-message [control]="form.get('telefone2')" controlName="Telefone 2"></app-validator-message>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-5">
                                <app-custom-input formControlName="gestao" [control]="form.get('gestao')" id="gestao"
                                    label="Gestão" name="gestao">
                                </app-custom-input>
                            </div>

                            <div class="col-md-7">
                                <app-custom-input formControlName="site" [control]="form.get('site')" id="site" label="Site"
                                    name="site">
                                </app-custom-input>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <app-custom-input formControlName="federacao" [control]="form.get('federacao')" id="federacao"
                                    label="Federação" name="federacao">
                                </app-custom-input>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group" [class.has-error]="hasError(form.get('cct_act'))">
                                    <label class="control-label">ACT/CCT</label>
                                    <select name="selectACT_CCT" id="selectACT_CCT" class="form-control"
                                        formControlName="cct_act">
                                        <option value="ACT">ACT</option>
                                        <option value="CCT">CCT</option>
                                    </select>
                                    <app-validator-message [control]="form.get('cct_act')" controlName="ACT/CCT"></app-validator-message>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group" [class.has-error]="hasError(form.get('database'))">
                                    <label class="control-label">Database</label>
                                    <select name="selectDatabase" id="selectDatabase" class="form-control"
                                        formControlName="database">
                                        <option value="Janeiro">Janeiro</option>
                                        <option value="Fevereiro">Fevereiro</option>
                                        <option value="Marco">Março</option>
                                        <option value="Abril">Abril</option>
                                        <option value="Maio">Maio</option>
                                        <option value="Junho">Junho</option>
                                        <option value="Julho">Julho</option>
                                        <option value="Agosto">Agosto</option>
                                        <option value="Setembro">Setembro</option>
                                        <option value="Outubro">Outubro</option>
                                        <option value="Novembro">Novembro</option>
                                        <option value="Dezembro">Dezembro</option>
                                    </select>
                                    <app-validator-message [control]="form.get('database')" controlName="Database"></app-validator-message>
                                </div>
                            </div>
                        </div>

                        <app-related-link [relatedLinks]="relatedLinks"></app-related-link>

                        <button type="button" class="btn btn-success ladda-button" data-style="zoom-in" (click)="salvar()" [disabled]="form.invalid">Salvar</button>

                    </form>
                </app-panel>
            </div>
        </div>
        <div class="row" *ngIf="sindicatoLaboral">
            <div class="col-md-12">
                <app-panel>
                    <app-contato [contatos$]="contatos$" (novoContato)="novoContato($event)" (deleteContato)="removeContato($event)"></app-contato>
                </app-panel>
            </div>
        </div>
    </div>
    <div class="col-md-4" *ngIf="sindicatoLaboral">
        <app-arquivos [spinner]="spinnerArquivos" (upload)="upload($event)" (delete)="deleteFile($event)" [arquivos]="arquivos"></app-arquivos>
    </div>
</div>