<div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="minimalize-styl-2 btn btn-primary" (click)="toggleNavigation()"><i class="fa fa-bars"></i>
            </a>
            <form role="search" class="navbar-form-custom" [formGroup]="form">
                <div class="form-group">
                    <app-autocomplete formControlName="pesquisa" [classFunction]="getClassColor" [mapShowFunction]="mapShowFunction" [urlSource]="url" urlQueryParam="nome" placeholder="Pesquisar...">
                        <ng-template let-item>
                            <div class="item-nav">

                                <div class="icon-nav">
                                    <span class="fa m-r-sm fa-lg" [ngClass]="getClassIcon(item)"></span>
                                </div>

                                <div class="content-nav">
                                    <div class="m-b-sm">
                                        #{{ item.obj.id }} {{ item.obj.nome }}
                                        <span *ngIf="item.entityType == EntityType[EntityType.Empresa]"> ({{ item.obj.endereco?.cidade }})</span>
                                    </div>
                                    <button class="btn btn-xs m-r-xs btn-default" (click)="navigate('/negociacoes/gestao', item, $event)">Negociações</button>
                                    <!-- <button class="btn btn-xs m-r-xs btn-default" (click)="navigate('/negociacoes/planosacao', item, $event)">Planos de Ação</button> -->
                                    <button class="btn btn-xs m-r-xs btn-default" (click)="navigate('/negociacoes/litigios', item, $event)">Litígios</button>
                                    <button class="btn btn-xs btn-default" *ngIf="item.entityType == EntityType[EntityType.Empresa]" (click)="navigate('/dashboard/empresa', item, $event)">Dashboard</button>
                                </div>
                            </div>
                        </ng-template>
                    </app-autocomplete>
                </div>
            </form>
        </div>


        <ul class="nav navbar-top-links navbar-right">
            <li>
                <a (click)="logout()">
                    <i class="fa fa-sign-out"></i> Log out
                </a>
            </li>
        </ul>

    </nav>
</div>
<app-breadcrump></app-breadcrump>