<div class="row">
  <div class="col-md-12">
    <app-panel>
      <h2>{{ title }}</h2>
      <p>
        {{ description }}
      </p>
      <ul *ngIf="referent" class="m-b-md">
        <li [hidden]="!queryParamsName[r]" *ngFor="let r of objectKeys(referent)">{{ queryParamsName[r] }}: <strong>{{
            (r === 'de' || r === 'ate') ? (referent[r] | date:'dd/MM/yyyy') : referent[r] }}</strong>
        </li>
      </ul>
      <form [formGroup]="formFiltro">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-search"></i>
          </span>
          <input type="text" formControlName="filtro" [placeholder]="searchPlaceholder" class="input form-control">
        </div>
      </form>

      <a class="btn btn-primary m-t-md" *ngIf="newLink" [routerLink]="newLink">Novo <span class="fa fa-plus"></span></a>

      <hr>

      <nav aria-label="Page navigation" *ngIf="nPages > 1">
        <ul class="pagination">
          <li>
            <a (click)="previousPage()" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li *ngFor="let page of pages" [class.active]="page === pageIndex">
            <a (click)="loadPage(page)">{{ page }}</a>
          </li>
          <li>
            <a (click)="nextPage()" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>

      <div>
        <small>
          Registros por página: {{ pageSize }} <br>
          Total: {{ filteredList?.length }} registros
        </small>
      </div>

      <ng-content></ng-content>
      <nav aria-label="Page navigation" *ngIf="nPages > 1">
        <ul class="pagination">
          <li>
            <a (click)="previousPage()" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li *ngFor="let page of pages" [class.active]="page === pageIndex">
            <a (click)="loadPage(page)">{{ page }}</a>
          </li>
          <li>
            <a (click)="nextPage()" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>

    </app-panel>
  </div>
</div>