<app-panel>

  <div id="relatorio">

    <div class="header">
      <div class="row">
        <div class="col-sm-3">
          <div class="img">
            <img src="assets/img/Logo-Algar.jpg" alt="Logo Algar">
          </div>
        </div>
        <div class="col-sm-9">
          <div class="title">
            <h2>
              <div contenteditable="true" [textContent]="relatorio.titulo"
                (input)="relatorio.titulo=$event.target.textContent"></div>
            </h2>
          </div>
        </div>
      </div>
    </div>

    <div class="group">
      <div class="group-title">
        <h4 style="display: inline-block;">
          {{ relatorio?.gruposPerguntas[0]?.texto }}
        </h4>
        <button class="btn-remove-grupo" (click)="deleteGrupo(relatorio?.gruposPerguntas[0])"><span class="fa fa-times"
            data-html2canvas-ignore></span></button>
      </div>

      <div class="group-content">
        <div class="row">
          <div class="col-sm-6" *ngFor="let resposta of relatorio?.gruposPerguntas[0]?.respostas">
            <div class="row pergunta">
              <div class="col-sm-5">
                <div contenteditable="true" class="pergunta-texto" [textContent]="resposta.pergunta"
                  (input)="resposta.pergunta=$event.target.textContent"></div>
              </div>
              <div class="col-sm-7">
                <input type="text" class="form-control" [(ngModel)]="resposta.resposta">
                <button class="btn-remove" (click)="deleteResposta(relatorio?.gruposPerguntas[0], resposta)"><span
                    class="fa fa-times" data-html2canvas-ignore></span></button>
              </div>
            </div>
          </div>

          <div class="col-sm-6 m-t-sm">
            <a (click)="addPergunta(relatorio?.gruposPerguntas[0])" data-html2canvas-ignore>[Nova Pergunta]</a>
          </div>
        </div>
      </div>
    </div>

    <div class="group" *ngFor="let grupo of relatorio.gruposPerguntas.slice(1)">
      <div *ngIf="grupo.layoutGrupo == LayoutGrupo.Grupo1Coluna; else grupo3Colunas">
        <div class="group-title">
          <h4 style="display: inline-block;">
            <div contenteditable="true" [textContent]="grupo.texto" (input)="grupo.texto=$event.target.textContent">
            </div>
          </h4>
          <button class="btn-remove-grupo" data-html2canvas-ignore (click)="deleteGrupo(grupo)"><span
              class="fa fa-times"></span></button>
        </div>

        <div class="group-content">
          <div class="row">
            <div class="col-sm-12" *ngFor="let resposta of grupo.respostas">
              <div class="row pergunta">
                <div class="col-sm-3">
                  <div contenteditable="true" class="pergunta-texto" [textContent]="resposta.pergunta"
                    (input)="resposta.pergunta=$event.target.textContent"></div>
                </div>
                <div class="col-sm-2">
                  <select class="form-control" [(ngModel)]="resposta.aplicacaoResposta">
                    <option [value]="AplicacaoResposta[AplicacaoResposta.Sim]">Sim</option>
                    <option [value]="AplicacaoResposta[AplicacaoResposta.Nao]">Não</option>
                    <option [value]="AplicacaoResposta[AplicacaoResposta.NA]">N/A</option>
                  </select>
                </div>
                <div class="col-sm-7">
                  <textarea class="form-control" rows="1" [(ngModel)]="resposta.resposta"></textarea>
                  <button class="btn-remove" (click)="deleteResposta(grupo, resposta)"><span class="fa fa-times"
                      data-html2canvas-ignore></span></button>
                </div>
              </div>
            </div>

            <div class="col-sm-12 m-t-sm">
              <a (click)="addPergunta(grupo)" data-html2canvas-ignore>[Nova Pergunta]</a>
            </div>
          </div>
        </div>
      </div>

      <ng-template #grupo3Colunas>
        <div class="group-content">
          <div class="row">
            <button class="btn-remove-grupo btn-remove-grupo-3colunas" data-html2canvas-ignore (click)="deleteGrupo(grupo)"><span
                class="fa fa-times"></span></button>
            <div class="col-md-3 m-t-md">
              <div contenteditable="true" class="pergunta-texto" [textContent]="grupo.texto"
                (input)="grupo.texto=$event.target.textContent">
              </div>
            </div>
            <div class="col-sm-3" *ngFor="let resposta of grupo.respostas">
              <div class="pergunta">
                <div class="row">
                  <div class="col-sm-12">
                    <div contenteditable="true" class="pergunta-texto" [textContent]="resposta.pergunta"
                      (input)="resposta.pergunta=$event.target.textContent"></div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <select class="form-control" [(ngModel)]="resposta.aplicacaoResposta">
                      <option [value]="AplicacaoResposta[AplicacaoResposta.Sim]">Sim</option>
                      <option [value]="AplicacaoResposta[AplicacaoResposta.Nao]">Não</option>
                      <option [value]="AplicacaoResposta[AplicacaoResposta.NA]">N/A</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>


            <div class="col-sm-12 m-t-sm">
              <a (click)="addPergunta(grupo)" data-html2canvas-ignore>[Nova Pergunta]</a>
            </div>
          </div>
        </div>
      </ng-template>
    </div>



    <div class="row" data-html2canvas-ignore>
      <div class="col-md-12 m-t-sm m-b-md">
        <a (click)="addGrupo()">[Novo Grupo]</a>
      </div>
    </div>

    <div class="row m-t-sm" data-html2canvas-ignore>
      <div class="col-md-12">
        <button class="btn btn-primary m-r-sm" (click)="salvar()" id="save-btn" data-style="zoom-in"
          ladda-button>Salvar</button>
        <button class="btn btn-success" (click)="download()" id="download-btn" data-style="zoom-in"
          ladda-button>Download</button>
      </div>
    </div>


  </div>

</app-panel>