<app-panel>

  <div id="relatorio-container">
    <div id="relatorio">

      <div id="header">
        <div class="row">
          <div class="col-md-3">
            <div class="img">
              <img src="assets/img/Logo-Algar.jpg" alt="Logo Algar">
            </div>
          </div>
          <div class="col-md-9">
            <div class="title">
              <h2>{{ relatorio.titulo }}</h2>
            </div>
          </div>
        </div>
      </div>

      <div class="group">
        <div class="group-title">
          <h4>{{ relatorio?.gruposPerguntas[0]?.texto }}</h4>
        </div>

        <div class="group-content">
          <div class="row">
            <div class="col-md-6" *ngFor="let resposta of relatorio?.gruposPerguntas[0]?.respostas">
              <div class="row pergunta">
                <div class="col-md-5">
                  <div contenteditable="true" class="pergunta-texto" [textContent]="resposta.pergunta" (input)="resposta.pergunta=$event.target.textContent"></div>
                </div>
                <div class="col-md-7">
                  <input type="text" class="form-control" [(ngModel)]="resposta.resposta">
                </div>
              </div>
            </div>

            <div class="col-md-6 m-t-sm">
              <a (click)="addPergunta(relatorio?.gruposPerguntas[0])">[Nova Pergunta]</a>
            </div>
          </div>
        </div>
      </div>

      <div class="group" *ngFor="let grupo of relatorio.gruposPerguntas.slice(1)">
        <div class="group-title">
          <h4>{{ grupo.texto }}</h4>
        </div>

        <div class="group-content">
          <div class="row">
            <div class="col-md-12" *ngFor="let resposta of grupo.respostas">
              <div class="row pergunta">
                <div class="col-md-3">
                  <div contenteditable="true" class="pergunta-texto" [textContent]="resposta.pergunta" (input)="resposta.pergunta=$event.target.textContent"></div>
                </div>
                <div class="col-md-2">
                  <select class="form-control">
                    <option [value]="AplicacaoResposta.Sim">Sim</option>
                    <option [value]="AplicacaoResposta.Nao">Não</option>
                    <option [value]="AplicacaoResposta.NA">N/A</option>
                  </select>
                </div>
                <div class="col-md-7">
                  <textarea class="form-control" rows="1" [(ngModel)]="resposta.resposta"></textarea>
                </div>
              </div>
            </div>

            <div class="col-md-12 m-t-sm">
              <a (click)="addPergunta(grupo)">[Nova Pergunta]</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 m-t-sm m-b-md">
          <a (click)="addGrupo()">[Novo Grupo]</a>
        </div>
      </div>

      <div class="row m-t-sm">
        <div class="col-md-12">
          <button class="btn btn-primary m-r-sm">Salvar</button>
          <button class="btn btn-success" (click)="download()">Download</button>
        </div>
      </div>
    </div>
  </div>

</app-panel>