<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <rewrite>
        <rules>
          <rule name="Redirect to https" stopProcessing="true">
            <match url="(.*)" />
            <conditions>
              <add input="{HTTPS}" pattern="off" ignoreCase="true" />
            </conditions>
            <action type="Redirect" url="https://sindicatos.solucoesti.online{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
          </rule>
          <rule name="wwwroot-static-font" stopProcessing="true">
            <match url="([\S]+[.](woff2))" />
            <action type="Rewrite" url="{R:1}" />
          </rule>
          <rule name="wwwroot-static" stopProcessing="true">
            <match url="([\S]+[.](html|htm|svg|json|js|css|png|gif|jpg|jpeg))" />
            <action type="Rewrite" url="wwwroot/{R:1}" />
          </rule>
          <rule name="empty-root-index" stopProcessing="true">
            <match url="^$" />
            <action type="Rewrite" url="wwwroot/index.html" />
          </rule>
          <rule name="Angular Routes" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAll">
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
              <add input="{REQUEST_URI}" pattern="api/" negate="true" />
            </conditions>
            <action type="Rewrite" url="wwwroot/index.html" />
          </rule>
        </rules>
      </rewrite>
      <handlers>
        <add name="StaticFileModuleHtml" path="*.htm*" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
        <add name="StaticFileModuleSvg" path="*.svg" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
        <add name="StaticFileModuleJs" path="*.js" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
        <add name="StaticFileModuleCss" path="*.css" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
        <add name="StaticFileModuleJpeg" path="*.jpeg" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
        <add name="StaticFileModuleJpg" path="*.jpg" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
        <add name="StaticFileModulePng" path="*.png" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
        <add name="StaticFileModuleGif" path="*.gif" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
        <add name="StaticFileModuleJson" path="*.json" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" />
    </system.webServer>
  </location>
  <system.webServer>
    <directoryBrowse enabled="false" />
    <urlCompression doDynamicCompression="false" />
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="index.htm" />
        <add value="index.html" />
        <add value="index.php" />
        <add value="index.asp" />
        <add value="default.asp" />
        <add value="index.aspx" />
        <add value="default.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
<!--ProjectGuid: 17908c53-9db3-4ea0-bdb9-e5f5bc87bbe1-->