<div class="row">
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-12">
        <app-panel>
          <form role="form" [formGroup]="form">
            <h2>Planos de Ações</h2>
            <p>
              Cadastro/edição de planos de ações
            </p>
            <div class="row">
              <div class="col-lg-4 col-sm-6 col-xs-12">
                <app-custom-input formControlName="id" [control]="form.get('id')" id="id" label="Id" name="id" readOnly="true">
                </app-custom-input>
              </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                  <app-custom-input formControlName="data" [control]="form.get('data')" id="data" label="Data" name="data"
                    type="date">
                  </app-custom-input>
                </div>

                <div class="col-md-6">
                  <div class="form-group" [class.has-error]="hasError(form.get('estado'))">
                    <label class="control-label">Estado</label>
                    <select class="form-control" name="estado" id="estado" formControlName="estado">
                      <option value="">(Selecione o Estado)</option>
                      <option *ngFor="let estado of estados$ | async" [value]="estado.sigla">{{ estado.nome }}</option>
                    </select>
                    <app-validator-message [control]="form.get('estado')" controlName="Estado"></app-validator-message>
                  </div>
                </div>
  
              </div>

            <div class="row">
              <div class="col-md-5">
                <div class="form-group">
                  <label>Referente a</label>
                  <select formControlName="referente" #referente class="form-control" name="referente" id="referent">
                    <option value="MTE">MTE</option>
                    <option value="MPT">MPT</option>
                    <option value="Laboral">Sindicato Laboral</option>
                    <option value="Patronal">Sindicato Patronal</option>
                  </select>
                </div>
              </div>

              <div class="col-md-7" *ngIf="referente.value === 'Laboral'">
                <div class="form-group">
                  <label>Sindicato Laboral</label>
                  <app-autocomplete formControlName="laboral" [mapValueFunction]="mapValue" [linkFunction]="linkLaboral" [urlSource]="urlLaboralList" placeholder="Sindicato Laboral">
                    <ng-template let-item>
                      <span class="fa fa-building-o m-r-sm"></span>
                      <strong>#{{item.id}}</strong> {{item.nome}}
                    </ng-template>
                  </app-autocomplete>
                </div>
              </div>

              <div class="col-md-7" *ngIf="referente.value === 'Patronal'">
                <div class="form-group">
                  <label>Sindicato Patronal</label>
                  <app-autocomplete formControlName="patronal" [mapValueFunction]="mapValue" [linkFunction]="linkPatronal" [urlSource]="urlPatronalList" placeholder="Sindicato Patronal">
                    <ng-template let-item>
                      <span class="fa fa-building m-r-sm"></span>
                      <strong>#{{item.id}}</strong> {{item.nome}}
                    </ng-template>
                  </app-autocomplete>
                </div>
              </div>
            </div>

            


            <div class="row">
              <div class="col-md-6">
                <app-custom-input formControlName="reclamante" [control]="form.get('reclamante')" id="reclamante" label="Reclamante"
                  name="reclamante">
                </app-custom-input>
              </div>

              <div class="col-md-6">
                <app-custom-input formControlName="responsavelAcao" [control]="form.get('responsavelAcao')" id="responsavelAcao"
                  label="Responsável pela Ação" name="responsavelAcao">
                </app-custom-input>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="control-label">Reclamações</label>
                  <textarea class="form-control" formControlName="reclamacoes" placeholder="Reclamações" name="reclamacoes"
                    id="reclamacoes" rows="3"></textarea>
                </div>
              </div>
            </div>

            <div class="hr-line-dashed"></div>

            <div class="row m-b-md">
              <div class="col-md-12">
                <label class="control-label">
                  <input type="checkbox" formControlName="procedencia" id="procedencia" name="procedencia">
                  Procedente?
                </label>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <app-custom-input formControlName="dataSolucao" [control]="form.get('dataSolucao')" id="dataSolucao"
                  label="Data de Solução" name="dataSolucao" type="date">
                </app-custom-input>
              </div>
            </div>

            <div class="row m-b-md  m-t-sm" *ngIf="planoAcao">
              <div class="col-md-4">
                Status: <span class="label" [ngClass]="classStatus(planoAcao.status)" style="font-size: 12px;">{{
                  planoAcao.status }}</span>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <button class="btn btn-primary" (click)="salvar()" [disabled]="form.invalid">Salvar</button>
              </div>
            </div>
          </form>

        </app-panel>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <app-arquivos *ngIf="planoAcao" (upload)="upload($event)" (delete)="deleteFile($event)" [arquivos]="arquivos"></app-arquivos>
  </div>
</div>