<div class="middle-box text-center animated fadeInDown">
  <h1>403</h1>
  <h3 class="font-bold">Você não tem permissão para leitura e/ou gravação desta informação.</h3>

  <div class="error-desc">
    Por favor, contate o administrador do sistema para elevação do perfil.
    <!-- <form class="form-inline m-t" role="form">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search for page">
      </div>
      <button type="submit" class="btn btn-primary">Busca</button>
    </form> -->
  </div>
</div>