<div class="input-group" *ngIf="linkFunction">
  <input type="text" #inputRef autocomplete="off" class="form-control" id="exampleInputAmount" (keydown)="keydown($event)"
    [placeholder]="placeholder" [(ngModel)]="value" (input)="pushChanges($event.target.value)" [readonly]="readOnly"
    (keypress)="keypress($event)">
  <span class="input-group-btn"><button type="button" class="btn btn-primary" [disabled]="!value" (click)="navigate()"><span class="fa fa-info"></span></button>
  </span>
</div>
<input type="text" #inputRef  *ngIf="!linkFunction" autocomplete="off" class="form-control" id="exampleInputAmount" (keydown)="keydown($event)"
  [placeholder]="placeholder" [(ngModel)]="value" (input)="pushChanges($event.target.value)" [readonly]="readOnly"
  (keypress)="keypress($event)">
<div class="autocomplete list-group" *ngIf="mostraLista" #listRef>
  <a *ngFor="let item of list; index as i" (click)="selectItem(i)" [ngClass]="classFunction(item)" class="list-group-item" [class.active]="i === activeItem"
    (mouseenter)="updateActiveItem(i)">
    <ng-template [ngTemplateOutlet]="templateItem" [ngTemplateOutletContext]="{ $implicit: item }"></ng-template>
  </a>
</div>