<div class="row">
  <div [class.col-md-8]="!negociacao" [class.col-md-12]="negociacao">

    <app-panel>
      <div class="row">
        <div [class.col-md-8]="negociacao" [class.col-md-12]="!negociacao" [class.border-right]="negociacao">
          <form role="form" [formGroup]="form" class="m-b-sm">
            <h2>Negociação</h2>
            <p>
              Cadastro/edição de negociação
            </p>


            <div class="row">
              <div class="col-md-3">
                <app-custom-input formControlName="id" [control]="form.get('id')" id="id" label="Id" name="id" readOnly="true">
                </app-custom-input>
              </div>

            </div>

            <div class="row">
              <div class="col-md-3">
                <app-custom-input formControlName="ano" type="number" [control]="form.get('ano')" id="ano" label="Ano"
                  name="ano">
                </app-custom-input>
              </div>
              <div class="col-md-9">
                <div class="form-group" [class.has-error]="hasError(form.get('empresa'))">
                  <label class="control-label">Empresa</label>
                  <app-autocomplete formControlName="empresa" [mapValueFunction]="mapValue" [linkFunction]="linkEmpresa"
                    [urlSource]="urlEmpresaList" placeholder="Empresa">
                    <ng-template let-item>
                      <span class="fa fa-users m-r-sm"></span>
                      <strong>#{{item.id}}</strong> {{item.nome}}
                    </ng-template>
                  </app-autocomplete>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Sindicato Laboral</label>
                  <app-autocomplete formControlName="sindicatoLaboral" [mapValueFunction]="mapValue" [linkFunction]="linkLaboral"
                    [urlSource]="urlLaboralList" placeholder="Sindicato Laboral" readOnly="true">
                    <ng-template let-item>
                      <span class="fa fa-building m-r-sm"></span>
                      <strong>#{{item.id}}</strong> {{item.nome}}
                    </ng-template>
                  </app-autocomplete>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label>Sindicato Patronal</label>
                  <app-autocomplete formControlName="sindicatoPatronal" [mapValueFunction]="mapValue" [linkFunction]="linkPatronal"
                    [urlSource]="urlPatronalList" placeholder="Sindicato Patronal" readOnly="true">
                    <ng-template let-item>
                      <span class="fa fa-building m-r-sm"></span>
                      <strong>#{{item.id}}</strong> {{item.nome}}
                    </ng-template>
                  </app-autocomplete>
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-sm-12">
                    <app-custom-input formControlName="qtdaTrabalhadores" [control]="form.get('qtdaTrabalhadores')" id="qtdaTrabalhadores"
                      label="Qtda. de Trabalhadores" name="qtdaTrabalhadores" type="number">
                    </app-custom-input>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <app-custom-input formControlName="massaSalarial" [control]="form.get('massaSalarial')" id="massaSalarial"
                  label="Massa Salarial" name="massaSalarial" type="number">
                </app-custom-input>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="control-label">Status ACT/CCT</label>
                  <select formControlName="statusACT_CCT" class="form-control" name="statusACT_CCT" id="statusACT_CCT">
                    <option value="NaoIniciada">Não Iniciada</option>
                    <option value="EmNegociacao">Em Negociação</option>
                    <option value="Fechada">Fechada</option>
                    <option value="Dissidio">Dissídio</option>
                  </select>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="control-label">Status PLR</label>
                  <select formControlName="statusPLR" class="form-control" name="statusPLR" id="statusPLR">
                    <option value="NaoIniciada">Não Iniciada</option>
                    <option value="EmNegociacao">Em Negociação</option>
                    <option value="Fechada">Fechada</option>
                    <option value="Dissidio">Dissídio</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="hr-line-dashed"></div>

            <h4>PLR - Valor Pago</h4>

            <div class="row">

              <div class="col-md-4">
                <app-custom-input formControlName="plr1Sem" type="number" [control]="form.get('plr1Sem')" id="plr1Sem"
                  label="1º Semestre" name="plr1Sem">
                </app-custom-input>
              </div>

              <div class="col-md-4">
                <app-custom-input formControlName="plr2Sem" type="number" [control]="form.get('plr2Sem')" id="plr2Sem"
                  label="2º Semestre" name="plr2Sem">
                </app-custom-input>
              </div>
            </div>


            <div class="hr-line-dashed"></div>

            <h4>Custos Negociais</h4>

            <div class="row">

              <div class="col-md-4">
                <app-custom-input formControlName="taxaPatronal" type="number" [control]="form.get('taxaPatronal')" id="taxaPatronal"
                  label="Taxa Neg. Patronal" name="taxaPatronal">
                </app-custom-input>
              </div>

              <div class="col-md-4">
                <app-custom-input formControlName="taxaLaboral" type="number" [control]="form.get('taxaLaboral')" id="taxaLaboral"
                  label="Taxa Neg. Laboral" name="taxaLaboral">
                </app-custom-input>
              </div>
            </div>

            <div *ngIf="negociacao">
              <div class="hr-line-dashed"></div>

              <div class="row">
                <div class="col-md-6">
                  <div formGroupName="orcado">
                    <h4>Reajustes Orçados (%)</h4>
                    <div class="row">
                      <div class="col-md-12">
                        <app-custom-input formControlName="salario" type="number" [control]="form.get('orcado.salario')"
                          id="salarioOrcado" label="Salário" name="salarioOrcado">
                        </app-custom-input>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <app-custom-input formControlName="piso" type="number" [control]="form.get('orcado.piso')" id="pisoOrcado"
                          label="Piso" name="pisoOrcado">
                        </app-custom-input>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <app-custom-input formControlName="auxCreche" type="number" [control]="form.get('orcado.auxCreche')"
                          id="auxCrecheOrcado" label="Auxílio Creche" name="auxCrecheOrcado">
                        </app-custom-input>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <app-custom-input formControlName="descontoVt" type="number" [control]="form.get('orcado.descontoVt')"
                          id="descontoVtOrcado" label="Desconto VT" name="descontoVtOrcado">
                        </app-custom-input>
                      </div>
                    </div>


                    <div class="row">
                      <div class="col-md-12">
                        <app-custom-input formControlName="vaVr" type="number" [control]="form.get('orcado.vaVr')" id="vaVrOrcado"
                          label="VA/VR" name="vaVrOrcado">
                        </app-custom-input>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <label for="vaVrFerias">VA/VR nas Férias</label>
                        <select formControlName="vaVrFerias" name="vaVrFeriasOrcado" id="vaVrFeriasOrcado" class="form-control">
                          <option [value]="true">Sim</option>
                          <option [value]="false">Não</option>
                        </select>
                      </div>
                    </div>

                  </div>
                </div>


                <div class="col-md-6">
                  <div formGroupName="negociado">

                    <h4>Reajustes Negociados (%)</h4>
                    <div class="row">
                      <div class="col-md-12">
                        <app-custom-input formControlName="salario" type="number" [control]="form.get('orcado.salario')"
                          id="salario" label="Salário" name="salario">
                        </app-custom-input>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <app-custom-input formControlName="piso" type="number" [control]="form.get('orcado.piso')" id="piso"
                          label="Piso" name="piso">
                        </app-custom-input>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <app-custom-input formControlName="auxCreche" type="number" [control]="form.get('orcado.auxCreche')"
                          id="auxCreche" label="Auxílio Creche" name="auxCreche">
                        </app-custom-input>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <app-custom-input formControlName="descontoVt" type="number" [control]="form.get('orcado.descontoVt')"
                          id="descontoVt" label="Desconto VT" name="descontoVt">
                        </app-custom-input>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <app-custom-input formControlName="vaVr" type="number" [control]="form.get('orcado.vaVr')" id="vaVr"
                          label="VA/VR" name="vaVr">
                        </app-custom-input>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <label for="vaVrFerias">VA/VR nas Férias</label>
                        <select formControlName="vaVrFerias" name="vaVrFerias" id="vaVrFerias" class="form-control">
                          <option [value]="true">Sim</option>
                          <option [value]="false">Não</option>
                        </select>
                      </div>
                    </div>

                  </div>

                </div>
              </div>


              <div class="hr-line-dashed"></div>

              <h4>Negociações de Concorrentes</h4>
              <button class="btn btn-primary m-t-sm" [routerLink]="['', { outlets: {popup: ['concorrente', negociacao.id] }}]">Novo</button>

              <div class="row">
                <div class="col-md-12">
                  <div class="clients-list">
                    <div class="table-responsive">
                      <table class="table table-striped table-hover">
                        <thead>
                          <tr>
                            <th></th>
                            <th>#</th>
                            <th>Nome</th>
                            <th class="text-right">Salário</th>
                            <th class="text-right">Piso</th>
                            <th class="text-right">Aux. Creche</th>
                            <th class="text-right">Desc. VT</th>
                            <th class="text-right">VA/VR</th>
                            <th>VA/VR nas férias?</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let concorrente of concorrentes">
                            <td>
                              <button class="btn btn-outline btn-danger btn-xs" (click)="deleteConcorrente(concorrente.id)">
                                <i class="fa fa-trash"></i>
                              </button>
                            </td>
                            <td>#{{ concorrente.id }}</td>
                            <td>{{ concorrente.nome }}</td>
                            <td class="text-right">{{ concorrente.reajuste?.salario }}</td>
                            <td class="text-right">{{ concorrente.reajuste?.piso }}</td>
                            <td class="text-right">{{ concorrente.reajuste?.auxCreche }}</td>
                            <td class="text-right">{{ concorrente.reajuste?.descontoVt }}</td>
                            <td class="text-right">{{ concorrente.reajuste?.vaVr }}</td>
                            <td>{{ concorrente.reajuste?.vaVrFerias ? 'Sim' : 'Não' }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>

              <div class="hr-line-dashed"></div>

            </div>

            <!-- <small *ngIf="negociacao.qtdaRodadas">Qtda. de Rodadas: {{ negociacao.qtdaRodadas }}</small> -->
          </form>
        </div>
        <div class="col-md-4" *ngIf="negociacao">
          <app-arquivos dropzoneColor="#f3f3f4" (upload)="upload($event)" (delete)="deleteFile($event)" [arquivos]="arquivos"></app-arquivos>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button class="btn btn-primary m-r-sm" (click)="salvar()" [disabled]="form.invalid">Salvar</button>
          <button class="btn btn-success m-r-sm" (click)="novaRodada()" *ngIf="negociacao">Abrir Nova Rodada</button>
        </div>
      </div>
    </app-panel>

    <div class="hr-line-dashed"></div>

    <app-panel *ngFor="let rodada of rodadas;let i=index">
      <div class="row">
        <div class="col-md-12">
          <app-rodada [rodada]="rodada" (deleteRodada)="deleteRodada()"></app-rodada>
        </div>
      </div>
    </app-panel>
  </div>
</div>