<div>
  <!-- class="custom-slider" -->
  <ng5-slider [(value)]="ano" [options]="options" (userChangeEnd)="onUserChangeEnd($event)"></ng5-slider>
</div>

<div class="hr-line-dashed"></div>

<h3>Negociações</h3>
<div class="row">
  <div class="col-md-6">
    <app-panel title="Status das Negociações - ACT/CCT">
      <div class="row">
        <div class="col-md-6">
          <canvas id="actMassaSalarial" height="180px"></canvas>
        </div>
        <div class="col-md-6">
          <canvas id="actTrabalhadores" height="180px"></canvas>
        </div>
      </div>
    </app-panel>

  </div>
  <div class="col-md-6">
    <app-panel title="Status das Negociações - PLR">
      <div class="row">
        <div class="col-md-6">
          <canvas id="plrMassaSalarial" height="180px"></canvas>
        </div>
        <div class="col-md-6">
          <canvas id="plrTrabalhadores" height="180px"></canvas>
        </div>
      </div>
    </app-panel>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <app-panel title="Custos em Viagens" [collapsible]="false">
      <canvas id="custosViagens" height="180px"></canvas>
    </app-panel>
  </div>
</div>

<div class="row">
  <div class="col-md-7">
    <app-panel title="Médias de Reajustes" [collapsible]="false">
      <canvas id="mediaReajustes" height="230px"></canvas>
    </app-panel>
  </div>
  <div class="col-md-5">
    <app-panel title="Próximas Reuniões">
      <table class="table table-hover no-margins">
        <thead>
          <tr>
            <th>Data</th>
            <th>Empresa</th>
            <th>Cidade - UF</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let reuniao of reunioes">
            <td><i class="fa fa-calendar"></i> {{ reuniao.data | date:'dd/MM/yy' }}</td>
            <td>{{ reuniao.empresa?.nome }}</td>
            <td>{{ reuniao.empresa?.endereco?.cidade }} - {{ reuniao.empresa?.endereco?.uf }}</td>
            <td>
              <a class="btn btn-success btn-xs" [routerLink]="['/negociacoes/gestao', reuniao.negociacaoId]"><i class="fa fa-info"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </app-panel>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <app-panel title="Quantidade de Reuniões" [collapsible]="false">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <canvas id="reunioesLaboral" height="320px"></canvas>
        </div>
        <div class="col-lg-3 col-md-6">
          <canvas id="reunioesPatronal" height="320px"></canvas>
        </div>
        <div class="col-lg-3 col-md-6">
          <canvas id="reunioesEmpresa" height="320px"></canvas>
        </div>
        <div class="col-lg-3 col-md-6">
          <canvas id="reunioesEstado" height="320px"></canvas>
        </div>
      </div>
    </app-panel>
  </div>
</div>

<div class="hr-line-dashed"></div>

<h3>Litígios</h3>
<div class="row">
  <div class="col-md-4">
    <app-panel title="Órgão" [collapsible]="true">
      <div class="row">
        <div class="col-xs-12">
          <canvas id="referenciaLitigios" height="180px"></canvas>
        </div>
      </div>
    </app-panel>
  </div>
  <div class="col-md-8">
    <app-panel title="Qtda de Ltígios por Mês" [collapsible]="true">
      <div class="row">
        <div class="col-xs-12">
          <canvas id="litigiosMes" height="180px"></canvas>
        </div>
      </div>
    </app-panel>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <app-panel title="Litigíos por Empresa" [collapsible]="true">
      <div class="row">
        <div class="col-xs-12">
          <canvas id="litigiosEmpresa"></canvas>
        </div>
      </div>
    </app-panel>
  </div>

  <div class="col-md-4">
    <app-panel title="Litigíos por Procedimento" [collapsible]="true">
      <div class="row">
        <div class="col-xs-12">
          <canvas id="litigiosProcedimento"></canvas>
        </div>
      </div>
    </app-panel>
  </div>
</div>


<div class="hr-line-dashed"></div>

<h3>Planos de Ação</h3>
<div class="row">
  <div class="col-md-4">
    <app-panel title="Status" [collapsible]="true">
      <div class="row">
        <div class="col-xs-12">
          <canvas id="statusPlanos" height="190px"></canvas>
        </div>
      </div>
    </app-panel>
  </div>

  <div class="col-md-4">
    <app-panel title="Órgão" [collapsible]="true">
      <div class="row">
        <div class="col-xs-12">
          <canvas id="referenciaPlanos" height="190px"></canvas>
        </div>
      </div>
    </app-panel>
  </div>

  <div class="col-md-4">
    <app-panel title="Procedência" [collapsible]="true">
      <div class="row">
        <div class="col-xs-12">
          <canvas id="procedenciaPlanos" height="190px"></canvas>
        </div>
      </div>
    </app-panel>
  </div>
</div>